<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
  <div class="topnav">
    <a href="physics/edit">Edit</a>
      <a href="/logout">Logout</a>
        <a href="physics/add">add</a>
  </div>

  <div class="content">
    <h2>Stock Database</h2>
      <h3>{{loc}}</h3>
      <table>
      <caption>physics equipment</caption>
      <thead>
        <tr>
          <th>equipment id</th>
          <th>equipment name</th>
          <th>amount</th>
          <th>cost</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
       <td>{{item.phy_eq_id}}</td>
       <td>{{item.phy_eq_name}}</td>
       <td>{{item.phy_eq_amount}}</td>
       <td>{{item.phy_eq_cost}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>



</body>


</html>
{% endblock content %}