<!DOCTYPE html>
<html lang="en">
<head>
<title>Databases</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/edit.css">
</head>
<body>

<div class="topnav">
  <a href="#">Done</a>
    <a href="#">Logout</a>
</div>

<div class="content">
  <h2>Stock Database</h2>
    <h3>Chemistry Lab</h3>

 <table>
  <tr>
      <th>ItemID</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Expiry date</th>
      <th>Last edit</th>
  </tr>
  <tr>
    <td>A001</td>
    <td>Calcium Carbonate</td>
    <td>230 g</td>
      <td> 30/11/ 2019</td>
      <td>6/3/2020</td>
  </tr>
  <tr>
    <td>A002</td>
    <td>Beaker</td>
    <td>20</td>
      <td>30/11/2019</td>
      <td>6/3/2020</td>
  </tr>
  <tr>
    <td>A003</td>
    <td>Stirring rod</td>
    <td>10</td>
      <td>27/11/2019</td>
      <td>8/3/2020</td>
  </tr>
</table>
</div>



</body>
</html>
