{% extends 'base.html' %}
{% block content %}
<div>
    <form align='center' method="POST">
        {% csrf_token %}
        <input type='number' placeholder='equipment id' name='id'></br>
        <input type='text' placeholder='name' name='eq_name'></br>
        <input type='number' placeholder='amount' name='q'></br>
        <input type='text' placeholder='cost' name='costs'></br>
        <p>Select whether the equipment is Safety Equipment or Laboratory Equipment</p>
        <Select name = Safety>
        <option  value=True>Safety</option>
        <option value=False>Laboratory</option>
        </select></br>     
        <input type='submit' name='submit'>
    </form>
</div>
<div>
{% for message in messages %}
{{message}}
{% endfor %}
{% endblock content %}
