<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
</div>
<div class="w3-main w3-content w3-padding" style="max-width:2400px;margin-top:200px">
  <div class="topnav">
    <a href="chem/edit">Edit</a>
        <a href="/logout">Logout</a>
</div>
<body>
  <div class="content">
    <h2>Stock Database</h2>
      <h3>{{loc}}</h3>
      <table>
      <caption>chemicals</caption>
      <thead>
        <tr>
          <th>consumable id</th>
          <th>chemical name</th>
          <th>amount</th>
          <th>exp date</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
        <td>{{item.consumable_id}}</td>
        <td>{{item.chem_names}}</td>
        <td>{{item.chem_amount}}</td>
        <td>{{item.exp_date}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      <table>
      <caption>equipment</caption>
      <thead>
        <tr>
          <th>eqipment id</th>
          <th>eqipment names</th>
          <th>amount</th>
          <th>cost</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items2 %}
      <tr>
        <td>{{item.chem_eq_id}}</td>
        <td>{{item.chem_eq_names}}</td>
        <td>{{item.chem_eq_amount}}</td>
        <td>{{item.chem_eq_cost}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
</dev>


</body>


</html>
{% endblock content %}