
{% extends "base.html" %}
{% block content %}
<body>

<div class="topnav">
  <a href="/chem">Done</a>
    <a href="/logout">Logout</a>
     <a href="add_con">add chemical</a>
      <a href="add_eq">add equipmemt</a>
</div>

<div class="content" >

</div>
<table class = "table table-hover">
  <caption>chemicals</caption>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <td>amount</td>
      <th>exp_date</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.consumable_id}}</td>
        <td>{{item.chem_name}}</td>
        <td>{{item.chem_amount}}</td>
        <td>{{item.exp_date}}</td>
        <td>
          <a href={% url 'chem_lab:editcon' item.consumable_id  %} class = "btn btn-warnning btn-sml" role = "button">edit</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

<table class="table table-hover">
  <caption>equipmemt</caption>
<thead>
<tr>
  <th>id</th>
  <th>name</th>
  <th>amount</th>
  <th>edit</th>
  <th>broken by student</th>
</tr>
</thead>
<tbody>
{% for item in items2 %}
      <tr>
        <td>{{item.chem_eq_id}}</td>
        <td>{{item.chem_eq_name}}</td>
        <td>{{item.chem_eq_amount}}</td>
        <td>{{item.exp_date}}</td>
        <td>
          <a href={% url 'chem_lab:edit_eq' item.chem_eq_id  %} class = "btn btn-warnning btn-sml" role = "button">edit</a>
        </td>
        <td>
        <a href={% url 'chem_lab:broken_with_pk' item.chem_eq_id  %} class = "btn btn-warnning btn-sml" role = "button">broken</a>
        </td>
      </tr>
    {% endfor %}

</tbody>
</table>
</body>
</html>
{% endblock content %}
