{% extends 'base.html' %}
{% block content %}
<div align='center'>
   <div class="container">
      <form method = "POST">
      {% csrf_token %}
         <p>Input number of {{name}}</p>
         <input type='number' name = 'amount' placeholder="amount" id = 'amount'></br>
         <p>Input cost of {{name}}</p>
         <input type="number" name='costs' placeholder="cost" id = 'costs'></br>
         <input type='submit' name ='submit'>
      </form>
      </div>

   </form>

   </div>
</div>
<div>
{% for message in messages %}
{{message}}
{% endfor %}
</div>
{% endblock content %}
<script type = "text/javascript">
   document.getElementById("costs").value = "0";
   document.getElementById("amount").value = "0";
</script>