<!DOCTYPE html>
<html>
<title>Selecting Department</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="static/sel/main.css">
<body>

<div class="bgimg w3-text-black">
  <div class="w3-display-middle w3-large">
     <a href="chem" class="w3-button w3-white">chem</a></br>
     <a href="bio" class="w3-button w3-white">bio</a></br>
     <a href="physics" class="w3-button w3-white">physics</a></br>
     <a href="library" class="w3-button w3-white">library</a></br>
     <a href="password_change" class="w3-button w3-white">change password</a></br>
  </div>

{% for message in messages %}
   <font color ='red'><h3> {{message}} </h3></font>
{% endfor %}
</div>
</body>
</html>